@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

main {
  padding: 50px 0px 50px 0px;
  position: relative;
}
body {
  font-family: 'Roboto', sans-serif;
  background: #f9f8f9;
  color: #8C9BAD;
}

nav {
  background: #546A8B;
  font-size: 1.5rem;
}

.navbar {
  padding: 20px 10px 20px 10px;
}

.navbar-brand {
  font-size: 2rem;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	clear: both;
	display: table;
}

h1 {
	color: #8C9BAD;
	text-align: center;
}

h2 {
	color: #8C9BAD;
  font-size: 1.5rem;
  text-align: center;
}

h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 1.5em;
	font-weight: 300;
	opacity: 0.8;
	background: #546A8B;
	color: white;
	border-radius: 3px 3px 0 0;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
}

a {
  color: #8C93B2;
}

.rounded-circle {
  cursor: pointer;
  background-color: #F9F8F9;
}

.content {
    margin-left: 200px;
     width: auto;
     position: relative;
     z-index: 1;
     max-width: 100%;
    overflow-x: hidden;
}

.sticky {
  position: fixed;
  left: 0;
}

/* Design 2 Specific */

#body {

}

#side_menu {

}

#side_nav {
float: left;
/*width: 200px;*/
  font-family: 'Roboto', sans-serif;
  background: #f9f8f9;
  color: #8C9BAD;
}

#side_nav li {
  list-style-type: none;
}

#side_nav ul {
  margin-left: -30px;
  font-size: 1em;
}


.sub-categories {
  font-size: 0.7em !important;
}

#side_nav .collapse {
  font-size: 1em;
}
