@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

main {
  padding: 50px 0px 50px 0px;
}
body {
  font-family: 'Slabo', serif;
  background: #f9f8f9;
  color: #8C9BAD;
}

nav {
  background: #546A8B;
  font-size: 1.5rem;
}

.navbar {
  padding: 20px 10px 20px 10px;
}

.navbar-brand {
  font-size: 2rem;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	clear: both;
	display: table;
}

h1 {
	color: #8C9BAD;
	text-align: center;
}

h2 {
	color: #8C9BAD;
  font-size: 1.5rem;
  text-align: center;
}

p {
  font-size: 1rem;
}

.rounded-circle {
  cursor: pointer;
}

#side_nav {
  font-family: 'Slabo', serif;
  background: #f9f8f9;
  color: #8C9BAD;
}
